<!DOCTYPE html>
<html>
  <head>
    <title><%= t :app_title %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'books/headmenu' %>
    <div class="main wrapper clearfix">
      <%= yield %>
    </div>
    <%= render 'books/footer' %>
  </body>
</html>
